Repository Balizero1987/nuzantara: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, pytest

Path conditions:
  typescript-check: any of: \.ts$
  pytest: any of: \.py$

Fix: Replace final Claude AI references in plugins and metrics
  apps/backend-rag/backend/app/main_cloud.py
  apps/backend-rag/backend/core/plugins/plugin.py
  apps/backend-rag/backend/core/plugins/registry.py
Due: pytest

Fix: Rename claude_requests metrics to zantara_ai_requests
  apps/backend-rag/backend/app/main_cloud.py
Due: pytest

Fix login auth endpoint and disable cache for login.js
  _headers
  apps/webapp/js/auth-guard.js
  apps/webapp/js/login.js
Due: none

Guard login script when form elements are missing
  apps/webapp/js/login.js
Due: none

Guard welcome message nodes in login UI
  apps/webapp/js/login.js
Due: none

Guard error message DOM lookups in login
  apps/webapp/js/login.js
Due: none

🚀 Enhanced frontend with Agent Thoughts, Emotional UI & RLHF Feedback
  apps/webapp/js/app.js
  apps/webapp/js/zantara-client.js
  apps/webapp/styles/chat-enhancements.css
Due: none

Fix Dockerfile paths for rollback deployment
  apps/backend-rag/Dockerfile.fly
  apps/backend-ts/src/middleware/performance-middleware.ts
  apps/backend-ts/src/services/persistent-team/EnhancedTeamHandler.ts
Due: typescript-check

🐳 Add missing Docker configuration for production deployment
  apps/backend-ts/.env.production
  apps/webapp/.env.production
  apps/webapp/nginx.conf
  docker/backend/Dockerfile
  docker/frontend/Dockerfile
Due: none

CLEANUP: Final cleanup commit - all legacy code removed
  apps/backend-rag/backend/app/routers/ingest.py
  apps/backend-rag/backend/app/routers/search.py
  apps/backend-ts/src/middleware/demo-user-auth.ts
  scripts/fix-all-typescript-errors.sh
Due: typescript-check, pytest

Fix: Remove Firebase reference from monitoring.ts
  apps/backend-ts/src/middleware/monitoring.ts
Due: typescript-check

Fix: Replace ChromaDB references with Qdrant in health_monitor.py (final cleanup)
  apps/backend-rag/backend/services/health_monitor.py
Due: pytest

FIX: Global Deployment Stabilization (RAG & TS Backend) - Resolved import errors, OOM crashes, and Docker configuration
  apps/backend-rag/Dockerfile.fly
  apps/backend-rag/backend/app/routers/handlers.py
  apps/backend-rag/backend/scripts/entrypoint.sh
  apps/backend-rag/backend/utils/tier_classifier.py
  apps/backend-rag/fly.toml
  apps/backend-rag/requirements.txt
  apps/backend-ts/Dockerfile
  apps/backend-ts/src/middleware/monitoring.ts
Due: typescript-check, pytest

Final cleanup: commit remaining changes before deploy
  apps/backend-rag/backend/app/main_cloud.py
  apps/backend-rag/backend/prompts/system.md
  apps/backend-ts/fly.toml
  apps/webapp/css/chat-enhancements.css
  apps/webapp/js/app.js
  apps/webapp/js/login.js
  apps/webapp/js/zantara-client.js
  apps/webapp/login.html
Due: pytest

Fix: Run uvicorn in foreground for Fly.io (replace background process)
  apps/backend-rag/backend/scripts/entrypoint.sh
Due: none

Fix: Post-deploy improvements
  .gitignore
  apps/backend-rag/Dockerfile
  apps/backend-rag/Dockerfile.fly
  apps/backend-rag/backend/app/main_cloud.py
  apps/backend-rag/backend/app/routers/ingest.py
  apps/backend-rag/backend/app/routers/search.py
  apps/backend-ts/package.json
  apps/backend-ts/src/handlers/bali-zero/oracle.ts
  apps/backend-ts/src/handlers/google-workspace/calendar.ts
  apps/backend-ts/src/handlers/google-workspace/contacts.ts
  apps/backend-ts/src/handlers/google-workspace/docs.ts
  apps/backend-ts/src/handlers/google-workspace/sheets.ts
  apps/backend-ts/src/handlers/google-workspace/slides.ts
  apps/backend-ts/tsconfig.deploy.json
  apps/webapp/js/app.js
Due: typescript-check, pytest

fix: rimuove parametro dimensions da OpenAI embeddings.create() - non supportato dalla versione API
  apps/backend-rag/backend/core/embeddings.py
Due: pytest

feat: Implement Enhanced ZANTARA Features - Agent Thoughts, Emotional UI, RLHF
  apps/backend-rag/Dockerfile.fly
  apps/backend-rag/backend/app/main_cloud.py
  apps/backend-rag/backend/app/routers/ingest.py
  apps/backend-rag/backend/app/routers/search.py
  apps/backend-rag/backend/core/chunker.py
  apps/backend-rag/requirements.txt
  apps/backend-ts/Dockerfile
  apps/backend-ts/package.json
  apps/backend-ts/src/app-gateway/session-store.ts
  apps/backend-ts/src/core/load-all-handlers.ts
  apps/backend-ts/src/handlers/ai-services/ai-bridge.ts
  apps/backend-ts/src/handlers/ai-services/ai.ts
  apps/backend-ts/src/handlers/analytics/dashboard-analytics.ts
  apps/backend-ts/src/handlers/analytics/weekly-report.ts
  apps/backend-ts/src/handlers/communication/instagram.ts
  apps/backend-ts/src/handlers/communication/whatsapp.ts
  apps/backend-ts/src/handlers/google-workspace/drive.ts
  apps/backend-ts/src/handlers/intel/scraper.ts
  apps/backend-ts/src/middleware/demo-user-auth.ts
  apps/backend-ts/tsconfig.json
  apps/webapp/js/api-config.js
Due: typescript-check, pytest

Fix: Implementazione completa sistema CSRF per frontend-backend
  apps/backend-ts/src/middleware/csrf.ts
  apps/backend-ts/src/server.ts
  apps/webapp/js/api-config.js
Due: typescript-check
