Repository Balizero1987/nuzantara: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, pytest

Path conditions:
  typescript-check: any of: \.ts$
  pytest: any of: \.py$

fix: Resolve JWT E2E test failures - PIN validation and mock configuration
  apps/backend-rag/api/handlers.py
  apps/backend-rag/handlers_registry.py
  apps/backend-ts/src/__tests__/e2e/jwt-auth.e2e.test.ts
  apps/backend-ts/src/__tests__/helpers/test-app.ts
  apps/backend-ts/src/handlers/auth/team-login.ts
  apps/backend-ts/src/routes/health.ts
  apps/backend-ts/src/routes/rag.routes.ts
  apps/backend-ts/src/routing/router.ts
  apps/backend-ts/src/services/logger.ts
  coverage/lcov.info
  jest.config.js
  package-lock.json
  package.json
Due: typescript-check, pytest

fix: Correct logger.ts module export
  apps/backend-ts/src/services/logger.ts
Due: typescript-check

fix: Enable autonomous agents with corrected import paths
  apps/backend-rag/backend/app/main_cloud.py
  apps/backend-rag/backend/app/routers/autonomous_agents.py
Due: pytest

fix: Align frontend API paths with backend endpoints
  apps/webapp/js/api-config.js
Due: none

fix: Resolve await outside async function + add missing favicon
  apps/webapp/WEBAPP_FIXES_APPLIED.md
  apps/webapp/favicon.ico
  apps/webapp/js/app.js
Due: none

fix: Comment all disabled code blocks to resolve JavaScript syntax errors
  apps/webapp/js/app.js
Due: none

fix: Disable skill detection module loading
  apps/webapp/js/app.js
Due: none

fix: Add cache-busting version parameter to app.js
  apps/webapp/chat.html
Due: none

fix: Add cache-busting version to app.js (corrected)
  apps/webapp/chat.html
Due: none

fix(CRITICAL): Disable ALL QueryComplexityAnalyzer usage
  apps/webapp/js/app.js
Due: none

fix: Remove ChromaDB from dependencies
  apps/backend-rag/requirements.txt
Due: none

fix: Add missing openai dependency for embeddings
  apps/backend-rag/requirements.txt
Due: none

fix(deploy): Update Dockerfile for Qdrant migration
  apps/backend-rag/Dockerfile.fly
Due: none

fix: Add missing pydantic-settings dependency
  apps/backend-rag/requirements.txt
  apps/backend-ts/jest.config.cjs
  apps/backend-ts/jest.config.enhanced.js
  apps/backend-ts/jest.config.js
Due: none

feat: Migrate from ChromaDB to Qdrant vector database
  apps/backend-rag/backend/app/config.py
  apps/backend-rag/backend/app/main_cloud.py
  apps/backend-rag/backend/core/qdrant_db.py
  apps/backend-rag/backend/services/search_service.py
  fly.toml
Due: pytest

feat: implement all priorities - auth endpoint, unified notifications, spacing system
  CONTROLLO_COERENZA.md
  IMPLEMENTAZIONE_PRIORITA.md
  apps/backend-rag/backend/app/auth_mock.py
  apps/webapp/chat.html
  apps/webapp/css/bali-zero-theme.css
  apps/webapp/css/design-system.css
  apps/webapp/js/app.js
  apps/webapp/js/components/notification.js
  apps/webapp/test-notifications.html
Due: pytest

fix: Add chromadb==1.1.0 to requirements.txt
  apps/backend-rag/requirements.txt
Due: none

fix(ci): resolve AI code quality validator path issues
  .ai-code-quality/ai-code-validator.ts
  .ai-code-quality/package-lock.json
Due: typescript-check
