Repository Balizero1987/nuzantara: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, pytest

Path conditions:
  typescript-check: any of: \.ts$
  pytest: any of: \.py$

feat: Integrate Zantara multi-personality AI system
  apps/backend-rag/backend/app/routers/oracle_universal.py
  apps/backend-rag/backend/data/team_members.py
  apps/backend-rag/backend/services/personality_service.py
  apps/backend-rag/fly.toml
  test-personality-integration.py
Due: pytest

fix: standardize API routing with /api prefix across Python backend
  apps/backend-rag/backend/app/routers/auth.py
  apps/backend-rag/backend/app/routers/conversations.py
  apps/backend-rag/backend/app/routers/crm_clients.py
  apps/backend-rag/backend/app/routers/crm_interactions.py
  apps/backend-rag/backend/app/routers/crm_practices.py
  apps/backend-rag/backend/app/routers/ingest.py
  apps/backend-rag/backend/app/routers/search.py
  apps/backend-ts/src/server.ts
  apps/backend-ts/src/services/ragService.ts
  apps/webapp/js/api-config.js
Due: typescript-check, pytest

fix: use PORT env var (8080) instead of hardcoded 8000 for Fly.io compatibility
  apps/backend-rag/Dockerfile
Due: none

feat: Complete codebase cleanup and optimization
  FULL_CODEBASE_CONTEXT.md
  Modelfile.zantara
  apps/backend-ts/src/api/pluginsRouter.ts
  apps/backend-ts/src/config/index.ts
  apps/backend-ts/src/config/team-members.ts
  apps/backend-ts/src/core/plugins/PluginExecutor.ts
  apps/backend-ts/src/core/plugins/PluginRegistry.ts
  apps/backend-ts/src/handlers/auth/team-login-secure.ts
  apps/backend-ts/src/handlers/auth/verify.ts
  apps/backend-ts/src/handlers/bali-zero/kbli.ts
  apps/backend-ts/src/middleware/admin-auth.ts
  apps/backend-ts/src/middleware/auth-unified-complete.ts
  apps/backend-ts/src/middleware/auth.middleware.ts
  apps/backend-ts/src/middleware/chat-oidc.ts
  apps/backend-ts/src/middleware/enhanced-jwt-auth.ts
  apps/backend-ts/src/middleware/jwt-auth.ts
  apps/backend-ts/src/routes/admin/simple-setup.ts
  apps/backend-ts/src/routes/auth.routes.ts
  apps/backend-ts/src/routes/test/mock-login.ts
  apps/backend-ts/src/routing/router.ts
  apps/backend-ts/src/scripts/init-database.ts
  apps/backend-ts/src/server.ts
  apps/backend-ts/src/services/anti-hallucination.ts
  apps/backend-ts/src/services/auth/unified-auth-strategy.ts
  apps/backend-ts/src/services/connection-pool.ts
  apps/backend-ts/src/services/memory-analytics-client.ts
  apps/backend-ts/src/services/performance/message-queue.ts
  apps/backend-ts/src/services/zantara-router.ts
  gemini_mcp.py
  generate_digest.cjs
Due: typescript-check, pytest

fix: Update Gemini model name to correct API identifier
  apps/backend-rag/backend/app/routers/oracle_universal.py
Due: pytest

fix: preserve full path in proxy middleware for CRM and Agents
  apps/backend-ts/src/server.ts
Due: typescript-check

fix: Configure Personality Service to use Oracle Cloud Zantara
  apps/backend-rag/backend/services/personality_service.py
Due: pytest

fix: simplify proxy pathRewrite to avoid deployment crash
  apps/backend-rag/backend/app/routers/oracle_universal.py
  apps/backend-ts/src/server.ts
Due: typescript-check, pytest

fix: use function instead of arrow for pathRewrite to fix deployment crash
  apps/backend-ts/src/server.ts
Due: typescript-check

Fix circular import in PersonalityService
  apps/backend-rag/backend/services/personality_service.py
Due: pytest

Update Gemini models to PRO (2.5-pro, 3-pro-preview) with advanced personality translation
  apps/backend-rag/backend/app/routers/oracle_universal.py
  apps/backend-rag/backend/services/personality_service.py
Due: pytest

Integrate Zantara Oracle model for Jaksel personality
  apps/backend-rag/backend/app/routers/oracle_universal.py
  apps/backend-rag/backend/services/personality_service.py
  oracle_zantara_key.pem
Due: pytest

fix: separate proxy options for agents and crm with proper pathRewrite
  apps/backend-ts/src/server.ts
Due: typescript-check

fix: improve proxy pathRewrite with arrow function and safety checks
  apps/backend-rag/backend/app/routers/oracle_universal.py
  apps/backend-rag/backend/services/personality_service.py
  apps/backend-ts/src/server.ts
Due: typescript-check, pytest

fix: add comprehensive error handling and logging for proxy configuration
  apps/backend-ts/src/server.ts
Due: typescript-check

fix: correct error handling type in catch block
  apps/backend-ts/src/server.ts
Due: typescript-check

fix: Remove strict URL validation from optional env variables
  apps/backend-ts/src/config/index.ts
  apps/backend-ts/src/server.ts
Due: typescript-check

fix: improve error logging in config validation with console.error and delay exit
  apps/backend-ts/src/config/index.ts
Due: typescript-check
