Repository Balizero1987/nuzantara: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, pytest

Path conditions:
  typescript-check: any of: \.ts$
  pytest: any of: \.py$

fix(server): Disabled OpenTelemetry to prevent startup crash
  apps/backend-ts/src/server.ts
Due: typescript-check

fix(imports): Corrected invalid circuit-breaker import paths in health.ts and connection-pool.ts
  apps/backend-ts/package.json
  apps/backend-ts/src/routes/health.ts
  apps/backend-ts/src/services/connection-pool.ts
Due: typescript-check

fix(config): Added 'type': 'module' to package.json to support ESM runtime
  apps/backend-ts/package.json
Due: none

fix(runtime): Switched to tsx runtime in production to bypass build artifact issues
  apps/backend-ts/Dockerfile
Due: none

fix: update login endpoint to /auth/login and parameter to password
  apps/webapp/js/login.js
Due: none

fix: correct search endpoints and remove non-existent documentIntelligence
  apps/webapp/js/api-config.js
Due: none

cleanup: phase 2 - deprecated endpoints and production guards
  apps/backend-ts/src/handlers/bali-zero/kbli-complete.ts
  apps/backend-ts/src/handlers/bali-zero/kbli.ts
  apps/backend-ts/src/routes/test/mock-login.ts
  cleanup-phase2-review.sh
Due: typescript-check

feat: Align backend API endpoints and update docs
  ARCHITECTURE.md
  FIX_REPORT_2025_11_24.md
  MANUAL_FIXES_REQUIRED.md
  README.md
  apps/backend-rag/backend/app/routers/crm_clients.py
  apps/backend-rag/backend/app/routers/crm_interactions.py
  apps/backend-rag/backend/app/routers/crm_practices.py
  apps/backend-rag/backend/app/routers/ingest.py
  apps/backend-rag/backend/app/routers/oracle_universal.py
  apps/backend-rag/backend/app/routers/search.py
Due: pytest

Checkpoint before follow-up message
  apps/memory-service/src/importance-scorer.ts
Due: typescript-check

feat: major improvements and fixes for v5.3
  apps/backend-rag/backend/app/main_cloud.py
  apps/backend-rag/backend/app/routers/crm_analytics.py
  apps/backend-rag/backend/app/routers/crm_clients.py
  apps/backend-rag/backend/app/routers/crm_interactions.py
  apps/backend-rag/backend/app/routers/crm_practices.py
  apps/backend-rag/backend/app/routers/document_intelligence.py
  apps/backend-rag/backend/app/routers/search.py
  apps/backend-rag/requirements.txt
  apps/backend-ts/src/server.ts
  apps/backend-ts/src/services/analytics/system-analytics-engine.ts
  apps/backend-ts/src/services/architecture/enhanced-router.ts
  apps/backend-ts/src/services/architecture/service-registry.ts
  apps/backend-ts/src/services/kbli-external.ts
  apps/backend-ts/src/services/monitoring/performance-monitor.ts
  apps/backend-ts/src/services/zantara-architect.ts
  apps/webapp/js/agents-client.js
  apps/webapp/js/auth-guard.js
  apps/webapp/js/collective-memory-client.js
  apps/webapp/js/core/error-handler.js
  apps/webapp/js/system-handlers-client.js
  apps/webapp/js/team-analytics-client.js
  apps/webapp/js/zantara-client.js
  docs/architecture/ARCHITECTURE_v5.3.md
Due: typescript-check, pytest

feat: Enable AI refactoring and test generation jobs
  apps/backend-ts/src/services/cron-scheduler.ts
  apps/memory-service/src/importance-scorer.ts
  apps/memory-service/src/index.ts
Due: typescript-check

Checkpoint before follow-up message
  apps/backend-ts/src/config/team-members.ts
  apps/backend-ts/src/server.ts
Due: typescript-check

Refactor: Use hardcoded team members for auth
  apps/backend-ts/src/handlers/auth/team-login.ts
  apps/backend-ts/src/routes/auth.routes.ts
  apps/backend-ts/src/server.ts
  apps/backend-ts/src/services/auth/unified-auth-strategy.ts
Due: typescript-check

Update team members with full roster and roles
  apps/backend-ts/src/config/team-members.ts
Due: typescript-check

Refactor: Use user ID for memory retrieval
  apps/backend-ts/src/services/zantara-router.ts
Due: typescript-check

Remove deprecated KBLI handlers and update metrics
  apps/backend-ts/PATH_ALIASES_MIGRATION.md
  apps/backend-ts/src/app-gateway/capability-map.ts
  apps/backend-ts/src/app-gateway/types.ts
  apps/backend-ts/src/core/migrate-handlers.ts
  apps/backend-ts/src/handlers/bali-zero/index.ts
  apps/backend-ts/src/handlers/bali-zero/kbli.ts
  apps/backend-ts/src/handlers/bali-zero/registry.ts
  apps/backend-ts/src/handlers/system/handler-metadata.ts
  apps/backend-ts/src/middleware/demo-user-auth.ts
  apps/backend-ts/src/routing/router.ts
  apps/backend-ts/src/services/architecture/enhanced-router.ts
  apps/backend-ts/src/services/kbli-external.ts
  apps/backend-ts/src/services/performance/cache-optimizer.ts
  apps/backend-ts/src/services/performance/metrics-dashboard.ts
Due: typescript-check

Remove legacy and test team members from config
  apps/backend-ts/src/config/team-members.ts
Due: typescript-check

Refactor: Simplify team member PINs and update import
  apps/backend-ts/src/config/team-members.ts
  apps/backend-ts/src/server.ts
Due: typescript-check

fix(webapp): consolidate auth system, fix fragility, and add tests
  ANALISI_5_GIRI.md
  CHECKLIST_OPERATIVO.md
  apps/webapp/js/api-config.js
  apps/webapp/js/auth-guard.js
  apps/webapp/js/auth/README.md
  apps/webapp/js/auth/unified-auth.js
  apps/webapp/js/login.js
  apps/webapp/js/zantara-client.js
  apps/webapp/package.json
  apps/webapp/tests/auth-new.test.js
  apps/webapp/tsconfig.json
Due: none

fix(webapp): ensure redirects use .html extensions for GitHub Pages compatibility
  apps/webapp/js/auth-guard.js
  apps/webapp/js/login.js
Due: none

chore(ai-quality): soften validation policies to 'warn' level for faster iterations
  .ai-code-quality/validation-policies.yaml
Due: none

fix(backend): exclude /api/auth from CSRF check to fix login fragility
  apps/backend-ts/src/middleware/csrf.ts
Due: typescript-check

fix(webapp): disable auto-redirect on login page to prevent loops
  apps/webapp/js/login.js
Due: none

fix(webapp): remove duplicate function declarations in app.js to fix runtime error
  apps/webapp/js/app.js
Due: none

fix(webapp): update zantara-client script reference to non-minified file
  apps/backend-ts/src/routes/bali-zero/team.routes.ts
  apps/webapp/chat.html
Due: typescript-check
