Repository Balizero1987/nuzantara: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, pytest

Path conditions:
  typescript-check: any of: \.ts$
  pytest: any of: \.py$

fix: prevent JWT_SECRET crash on module load
  apps/backend-ts/src/config/index.ts
  apps/backend-ts/src/handlers/auth/team-login-secure.ts
  apps/backend-ts/src/handlers/auth/verify.ts
Due: typescript-check

debug: add console.log at start of config validation to see what happens
  apps/backend-ts/src/config/index.ts
Due: typescript-check

fix: correct TypeScript error in config validation error handling
  apps/backend-ts/src/config/index.ts
Due: typescript-check

🚀 OPTIMIZE: Solo Flash Mode for Google AI ULTRA plan
  apps/backend-rag/backend/app/routers/oracle_universal.py
Due: pytest

debug: add more logging in bootstrap banner to identify crash point
  apps/backend-ts/scripts/build.js
Due: none

fix: Implement lazy initialization for auth modules to prevent deploy crash
  apps/backend-ts/src/middleware/enhanced-jwt-auth.ts
  apps/backend-ts/src/services/auth/unified-auth-strategy.ts
Due: typescript-check

debug: wrap bootstrap banner in try-catch to catch early errors
  apps/backend-ts/scripts/build.js
Due: none

fix: Make JWT strategies fully lazy to prevent deploy crash
  apps/backend-ts/src/services/auth/unified-auth-strategy.ts
Due: typescript-check

fix: Replace top-level throw with middleware guard in mock-login.ts
  .github/workflows/ci.yml
  apps/backend-ts/src/config/index.ts
  apps/backend-ts/src/routes/test/mock-login.ts
  package-lock.json
  package.json
Due: typescript-check

chore: Remove 5.4GB GGUF model from Git tracking
  .gitignore
Due: none

fix: Use Gemini 2.5 Flash everywhere (unlimited on ULTRA plan)
  apps/backend-rag/backend/app/routers/oracle_universal.py
  apps/backend-rag/backend/services/smart_oracle.py
Due: pytest

docs(webapp): strategia deploy e test post-deploy
  apps/webapp/PIANO_DEPLOY_CONSIGLIATO.md
  apps/webapp/STRATEGIA_DEPLOY_SUCCESSO.md
  apps/webapp/TEST_POST_DEPLOY.md
Due: none

feat: optimize deployment strategy - add health endpoint validation, fly.toml validation, and comprehensive smoke tests
  .github/workflows/deploy-backend-rag.yml
  .github/workflows/deploy-production.yml
  apps/backend-rag/Dockerfile
  apps/backend-rag/README_CURRENT_ARCHITECTURE.md
  apps/backend-rag/backend/app/main_cloud.py
  apps/backend-rag/fly.toml
  apps/webapp/DEPLOY_COMPLETATO.md
  apps/webapp/RISULTATI_DEPLOY.md
  docs/deployment/DEPLOYMENT_STRATEGY_SUCCESS.md
  docs/deployment/DEPLOY_CHECKLIST.md
  docs/deployment/DEPLOY_STATUS.md
  docs/deployment/OTTIMIZZAZIONI_APPLICATE.md
  docs/deployment/OTTIMIZZAZIONI_STRATEGIA.md
  docs/deployment/POST_DEPLOY_TEST_RESULTS.md
  docs/deployment/RIEPILOGO_DEPLOY.md
  docs/deployment/RISOLUZIONE_CONFLITTI.md
  docs/deployment/TEST_POST_DEPLOY.md
  jest.config.js
Due: pytest

fix: correct syntax errors in zantara-client.js and update /healthz references
  apps/webapp/chat.html
  apps/webapp/js/collective-memory-client.js
  apps/webapp/js/crm-client.js
  apps/webapp/js/system-handlers-client.js
  apps/webapp/js/timesheet-client.js
  apps/webapp/js/zantara-client.js
  docs/deployment/DEPLOYMENT_STRATEGY_SUCCESS.md
  docs/deployment/DEPLOY_CHECKLIST.md
  docs/deployment/TEST_POST_DEPLOY.md
Due: none

chore: reset workflow files to origin (OAuth permission fix)
  .github/workflows/ci.yml
  .github/workflows/deploy-backend-rag.yml
  .github/workflows/deploy-production.yml
Due: none

Update deploy-backend-rag.yml
  .github/workflows/deploy-backend-rag.yml
Due: none

feat(webapp): migliorati messaggi di errore login con gestione network/HTTP errors
  apps/webapp/js/auth/unified-auth.js
  apps/webapp/js/login.js
Due: none

fix: consolidate deployment configuration - standardize PORT to 8080
  .github/workflows/deploy-backend-rag.yml
  .github/workflows/deploy-staging.yml
  DEPLOY_COMPLETATO_FINALE.md
  PIANO_CONSIGLIATO.md
  PR_BODY.md
  REPORT_DEPLOY_FINALE.md
  RIEPILOGO_DEPLOY_COMPLETATO_FINALE.md
  RIEPILOGO_DEPLOY_COMPLETO.md
  RIEPILOGO_DEPLOY_SITUAZIONE.md
  RIEPILOGO_FINALE_COMPLETATO.md
  RIEPILOGO_PUSH_COMPLETATO.md
  STATO_DEPLOY_FINALE.md
  apps/backend-rag/Dockerfile.qdrant
  apps/backend-rag/backend/Dockerfile
  apps/backend-rag/backend/app/config.py
Due: pytest
