Repository Balizero1987/nuzantara: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, pytest

Path conditions:
  typescript-check: any of: \.ts$
  pytest: any of: \.py$

fix: Login redirect immediato e gestione errori DOM
  apps/webapp/js/login.js
Due: none

fix: Login redirect - rimuovi password, aggiungi logging, redirect immediato
  apps/webapp/js/login.js
Due: none

fix: Abilita bottone login dopo validazione email/PIN
  apps/webapp/js/login.js
Due: none

fix: Collegamento frontend-backend per handlers/tools
  apps/webapp/js/system-handlers-client.js
Due: none

fix: SystemHandlersClient constructor e response parsing
  apps/webapp/js/system-handlers-client.js
Due: none

fix: SystemHandlersClient constructor completo
  apps/webapp/js/system-handlers-client.js
Due: none

Remove login-react.html redirects - use only login.html and chat.html
  apps/webapp/index.html
  apps/webapp/service-worker.js
Due: none

Fix: HTTPS errors, team recognition, and API config
  apps/backend-rag/backend/services/claude_haiku_service.py
  apps/webapp/js/api-config.js
  apps/webapp/js/collective-memory-client.js
  apps/webapp/js/core/unified-api-client.js
Due: pytest

Fix: Add team recognition instructions to ZantaraAIClient prompt (Llama 4 Scout PRIMARY)
  apps/backend-rag/backend/llm/zantara_ai_client.py
Due: pytest

Refactor: Make AI engine references generic (ZANTARA AI)
  .gitignore
  apps/backend-rag/backend/app/main_cloud.py
  apps/backend-rag/backend/llm/zantara_ai_client.py
  apps/backend-rag/backend/services/claude_haiku_service.py
  apps/backend-rag/backend/services/intelligent_router.py
Due: pytest

Fix: CORS headers and missing endpoint aliases
  apps/backend-ts/src/middleware/cors.ts
  apps/backend-ts/src/middleware/security.middleware.ts
  apps/backend-ts/src/server.ts
Due: typescript-check

Fix: Remove Unicode characters causing syntax error in main_cloud.py
  apps/backend-rag/backend/app/main_cloud.py
Due: pytest

Fix: Replace all Unicode characters with ASCII comments in main_cloud.py
  apps/backend-rag/backend/app/main_cloud.py
Due: pytest

Fix: Remove all Unicode emoji characters from main_cloud.py docstrings
  apps/backend-rag/backend/app/main_cloud.py
Due: pytest

Fix: Remove Unicode arrow characters from main_cloud.py
  apps/backend-rag/backend/app/main_cloud.py
Due: pytest

Fix: Properly close docstring in main_cloud.py
  apps/backend-rag/backend/app/main_cloud.py
Due: pytest

CLEANUP: Additional 5-step legacy removal (steps 8-12)
  apps/backend-rag/PROMPT_COMPARISON_V5_VS_V6.md
  apps/backend-rag/backend/services/shadow_mode_service.py
  apps/backend-rag/scripts/setup-llama-scout.sh
  apps/backend-rag/test_llama_integration.py
  apps/backend-rag/test_multilingual_quality.py
Due: pytest

Fix: Remove remaining legacy AI model references from comments
  apps/backend-rag/backend/app/main_cloud.py
Due: pytest

Fix: Replace all remaining Claude AI references with ZANTARA AI
  apps/backend-rag/backend/app/main_cloud.py
Due: pytest

Fix: Replace final Claude AI references in plugins and metrics
  apps/backend-rag/backend/app/main_cloud.py
  apps/backend-rag/backend/core/plugins/plugin.py
  apps/backend-rag/backend/core/plugins/registry.py
Due: pytest
