Repository Balizero1987/nuzantara: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, pytest

typescript-check:
  name: TypeScript type checking
  entry: bash -c 'cd apps/backend-ts && npx tsc --noEmit'
  language: system
  pass_filenames: false

pytest:
  name: Pytest (Python tests)
  entry: bash -c 'cd apps/backend-rag && python -m pytest tests/ --cov=. --cov-fail-under=70'
  language: system
  pass_filenames: false
  stages:
  - push

chore: Force GitHub Pages cache invalidation
  apps/webapp/chat.html
Due: none

fix(test): Fix team-activity.test.ts and relax ESLint rules for tests
  apps/backend-ts/src/handlers/bali-zero/__tests__/team-activity.test.ts
  eslint.config.ts
Due: typescript-check

fix(test): Fix kbli-complete.test.ts - all 22 tests now passing
  apps/backend-ts/src/handlers/bali-zero/kbli-complete.test.ts
Due: typescript-check

fix(test): Fix team-login.test.ts - all 8 tests passing
  apps/backend-ts/src/handlers/auth/__tests__/team-login.test.ts
Due: typescript-check

docs(devai): Add comprehensive Dev AI patch for Phase 4 completion
  DEVAI_PATCH_PHASE4_2025-11-18.md
Due: none

fix(test): Fix 5 test suites and feature-flags allowlist bug
  apps/backend-ts/src/handlers/auth/__tests__/team-login-secure.test.ts
  apps/backend-ts/src/handlers/bali-zero/__tests__/advisory.test.ts
  apps/backend-ts/src/handlers/bali-zero/__tests__/bali-zero-pricing.test.ts
  apps/backend-ts/src/services/__tests__/streaming-service.test.ts
  apps/backend-ts/src/services/feature-flags.ts
Due: typescript-check

fix(webapp): Fix critical backend connection and UI issues
  apps/webapp/chat.html
  apps/webapp/js/app.js
  apps/webapp/js/zantara-client.js
  apps/webapp/js/zantara-client.min.js
Due: none

test: Skip 9 external API tests and fix zantara validation tests
  apps/backend-ts/src/handlers/ai-services/__tests__/creative.test.ts
  apps/backend-ts/src/handlers/analytics/__tests__/daily-drive-recap.test.ts
  apps/backend-ts/src/handlers/communication/__tests__/translate.test.ts
  apps/backend-ts/src/handlers/communication/__tests__/twilio-whatsapp.test.ts
  apps/backend-ts/src/handlers/intel/__tests__/news-search.test.ts
  apps/backend-ts/src/handlers/intel/__tests__/scraper.test.ts
  apps/backend-ts/src/handlers/memory/memory-enhanced.test.ts
  apps/backend-ts/src/handlers/rag/__tests__/rag.test.ts
  apps/backend-ts/src/handlers/zantara/__tests__/zantara-v2-simple.test.ts
  apps/backend-ts/src/handlers/zero/__tests__/chat-simple.test.ts
Due: typescript-check

Refactor: Improve hashing and text cleaning
  apps/backend-ts/src/utils/handlers-list.ts
  apps/backend-ts/src/utils/hash.ts
  apps/backend-ts/src/utils/text.ts
Due: typescript-check

fix(security): Fix @mozilla/readability vulnerability and document remaining issues
  SECURITY.md
  apps/intel-scraping/package.json
  package-lock.json
Due: none

docs(deployment): Add comprehensive deployment patch for production
  DEPLOYMENT_PATCH_2025-11-18.md
Due: none

feat(ui): Complete sidebar, avatar system, and theme customization
  apps/webapp/chat.html
  apps/webapp/css/accessibility.css
  apps/webapp/css/animations.css
  apps/webapp/js/components/avatar-uploader.js
  apps/webapp/js/components/sidebar.js
  apps/webapp/js/components/theme-selector.js
Due: none

feat(intel): Automated intel scraping and Pulitzer-level content generation pipeline
  config/scraping_targets.yaml
Due: none

docs(intel): Add comprehensive implementation plan
  docs/reports/INTEL_AUTOMATION_IMPLEMENTATION_PLAN.md
Due: none

chore: Add @types/pg for TypeScript build support
  package-lock.json
  package.json
Due: none

fix(tests): Fix 3 test suites - feature flags, rate limiting, performance
  COMMITS_NOT_YET_DEPLOYED_2025-11-19.md
  COMMIT_ANALYSIS_OBSOLESCENCE_CHECK_2025-11-19.md
  DEPLOYMENT_VERIFICATION_2025-11-19.md
  FRONTEND_RAG_INTEGRATION_VERIFICATION_2025-11-19.md
  INTEGRATION_VERIFICATION_FRONTEND_BACKEND_2025-11-19.md
  apps/backend-ts/src/config/flags.ts
  apps/backend-ts/src/middleware/prioritized-rate-limit.ts
  scripts/analyze-integrations.ts
Due: typescript-check

fix(auth): Fix JWT auth test - use PIN instead of password
  apps/backend-ts/src/__tests__/e2e/jwt-auth.e2e.test.ts
  apps/backend-ts/src/routes/auth.routes.ts
Due: typescript-check

fix(ai): Increase advanced-ai test timeout from 10s to 30s
  apps/backend-ts/src/handlers/ai-services/__tests__/advanced-ai.test.ts
Due: typescript-check

fix: Skip ai-bridge mock tests due to jest.unstable_mockModule limitations
  apps/backend-ts/src/handlers/ai-services/__tests__/ai-bridge.test.ts
Due: typescript-check

fix: Skip jwt-auth admin dashboard tests and fix complete flow test
  apps/backend-ts/src/__tests__/e2e/jwt-auth.e2e.test.ts
Due: typescript-check

fix: Add trust proxy and correlation middleware to test app setup
  apps/backend-ts/src/__tests__/helpers/test-app.ts
Due: typescript-check

fix: Correct correlation middleware import path in test app
  apps/backend-ts/src/__tests__/helpers/test-app.ts
Due: typescript-check

fix: Resolve JWT E2E test failures - PIN validation and mock configuration
  apps/backend-rag/api/handlers.py
  apps/backend-rag/handlers_registry.py
  apps/backend-ts/src/__tests__/e2e/jwt-auth.e2e.test.ts
  apps/backend-ts/src/__tests__/helpers/test-app.ts
  apps/backend-ts/src/handlers/auth/team-login.ts
  apps/backend-ts/src/routes/health.ts
  apps/backend-ts/src/routes/rag.routes.ts
  apps/backend-ts/src/routing/router.ts
  apps/backend-ts/src/services/logger.ts
  coverage/lcov.info
  jest.config.js
  package-lock.json
  package.json
Due: typescript-check, pytest

Path conditions:
  typescript-check: any of: \.ts$
  pytest: any of: \.py$
