Repository Balizero1987/nuzantara: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, pytest

Path conditions:
  typescript-check: any of: \.ts$
  pytest: any of: \.py$

Fix: Implementazione completa sistema CSRF per frontend-backend
  apps/backend-ts/src/middleware/csrf.ts
  apps/backend-ts/src/server.ts
  apps/webapp/js/api-config.js
Due: typescript-check

chore: remove legacy Firestore/Chroma scripts and references
  apps/backend-rag/README_CURRENT_ARCHITECTURE.md
  apps/backend-rag/backend/Dockerfile
  apps/backend-rag/scripts/deprecated/INDONESIAN_DATASET_GENERATOR_README.md
  apps/backend-rag/scripts/deprecated/generate_jakarta_special.py
  apps/backend-rag/scripts/deprecated/generate_mixed_premium.py
  apps/backend-rag/scripts/deprecated/generate_test_conversations.py
  apps/backend-rag/scripts/deprecated/indonesian_conversation_generator.py
  apps/backend-rag/scripts/deprecated/llama_batch_classifier.py
  apps/backend-rag/scripts/deprecated/mixed_dialect_generator.py
  apps/backend-rag/scripts/legacy_chromadb/README.md
  apps/backend-rag/scripts/legacy_chromadb/ingest_all_books.py
  apps/backend-rag/scripts/legacy_chromadb/ingest_books_simple.py
  apps/backend-rag/scripts/legacy_chromadb/ingest_politics_seed.py
  apps/backend-rag/scripts/legacy_chromadb/ingest_pricelist.py
  apps/backend-rag/scripts/legacy_chromadb/ingest_text_files.py
  apps/backend-rag/scripts/legacy_chromadb/seed_cultural_test.py
  apps/backend-rag/scripts/modules/cultural_knowledge_generator.py
  apps/backend-rag/scripts/modules/golden_answer_generator.py
  apps/backend-ts/migrate-to-chromadb.ts
  apps/backend-ts/src/app-gateway/app-bootstrap.ts
  apps/backend-ts/src/app-gateway/session-store.ts
  apps/backend-ts/src/core/load-all-handlers.ts
  apps/backend-ts/src/handlers/analytics/weekly-report.ts
  apps/backend-ts/src/handlers/communication/instagram.ts
  apps/backend-ts/src/handlers/communication/whatsapp.ts
  apps/backend-ts/src/middleware/csrf.ts
  apps/backend-ts/src/services/reality-anchor.ts
  apps/backend-ts/src/services/tokenStore.ts
  apps/bali-intel-scraper/README.md
  apps/bali-intel-scraper/requirements.txt
  apps/memory-service/README.md
  apps/memory-service/package.json
  apps/memory-service/src/index.ts
  apps/memory-service/src/self_healing/backend_agent.py
  scripts/audit-legacy.sh
Due: typescript-check, pytest

chore: remove all hardcoded KB values (KBLI, pricing, visa codes)
  apps/backend-rag/backend/db/migrations/005_oracle_knowledge_bases.sql
  apps/backend-ts/scripts/benchmark-streaming.ts
  apps/backend-ts/src/agents/bali-zero-services.ts
  apps/backend-ts/src/agents/eye-kbli.ts
  apps/backend-ts/src/agents/legal-architect.ts
  apps/backend-ts/src/agents/property-sage.ts
  apps/backend-ts/src/agents/tax-genius.ts
  apps/backend-ts/src/agents/visa-oracle.ts
  apps/backend-ts/src/handlers/bali-zero/bali-zero-pricing.ts
  apps/backend-ts/src/handlers/bali-zero/kbli-complete.ts
  apps/backend-ts/src/handlers/bali-zero/kbli.ts
  apps/backend-ts/src/handlers/bali-zero/pricing-subscription.ts
  apps/backend-ts/src/handlers/memory/memory.ts
  apps/backend-ts/src/routing/router.ts
  apps/backend-ts/src/services/anti-hallucination.ts
  apps/backend-ts/src/services/kbli-external.ts
  apps/backend-ts/src/services/reality-anchor.ts
  apps/memory-service/README.md
  apps/webapp/chat.html
Due: typescript-check

chore: remove all hardcoded business data (prices, timelines, documents, services)
  apps/backend-ts/src/agents/visa-oracle.ts
  apps/backend-ts/src/handlers/bali-zero/advisory.ts
  apps/backend-ts/src/handlers/bali-zero/oracle.ts
  apps/backend-ts/src/handlers/bali-zero/pricing-invoices.ts
  apps/backend-ts/src/handlers/bali-zero/pricing-subscription.ts
  apps/backend-ts/src/routing/router.ts
  apps/backend-ts/src/services/AdvancedNLPSystem.ts
  apps/backend-ts/src/services/anti-hallucination.ts
  apps/backend-ts/src/services/reality-anchor.ts
Due: typescript-check

chore: remove remaining hardcoded service names from pricing-invoices.ts
  apps/backend-ts/src/handlers/bali-zero/pricing-invoices.ts
Due: typescript-check

refactor: redesign login page with Bali Zero design system
  apps/webapp/login.html
Due: none

fix: correct login endpoint and request payload
  apps/webapp/js/login.js
Due: none

Replace mock authentication with real JWT email+PIN system
  apps/backend-rag/backend/app/main_cloud.py
  apps/backend-rag/backend/app/routers/auth.py
  apps/backend-rag/backend/db/migrations/009_real_authentication_system.sql
Due: pytest

Remove all mock authentication - pure JWT system
  apps/backend-rag/backend/app/routers/auth.py
Due: pytest

Fix login: bypass CSRF for auth endpoints
  apps/backend-ts/src/middleware/csrf.ts
Due: typescript-check

Add missing production environment files
  apps/backend-ts/.env.production
  apps/webapp/.env.production
Due: none

feat(zantara-v2): Dataset Engineering, Memory Fix & UX Upgrade
  README.md
  apps/backend-rag/README_CURRENT_ARCHITECTURE.md
  apps/backend-rag/backend/app/routers/auth.py
  apps/backend-ts/src/handlers/ai-services/zantara-llama.ts
  apps/backend-ts/test-memory-integration.ts
  apps/memory-service/src/fact-extraction.ts
  apps/webapp/js/zantara-client.js
  tools/generate_gold_dataset_ai.py
  tools/generate_jaksel_dataset.py
  tools/zantara_data_engine.py
Due: typescript-check, pytest

fix(auth): Connected team login to real PostgreSQL database, removed tabula rasa stub
  apps/backend-ts/src/handlers/auth/team-login.ts
Due: typescript-check

feat(zantara-broker): Implemented Smart Broker Architecture
  apps/backend-rag/backend/app/routers/auth.py
  apps/backend-rag/backend/app/routers/crm_shared_memory.py
  apps/backend-ts/fly.toml
  apps/backend-ts/package.json
  apps/backend-ts/src/agents/bali-zero-services.ts
  apps/backend-ts/src/agents/eye-kbli.ts
  apps/backend-ts/src/agents/legal-architect.ts
  apps/backend-ts/src/agents/property-sage.ts
  apps/backend-ts/src/agents/tax-genius.ts
  apps/backend-ts/src/handlers/rag/rag.ts
  apps/backend-ts/src/services/ai/oracle-client.ts
  apps/backend-ts/src/services/intent-router.ts
  apps/backend-ts/src/services/zantara-router.ts
  apps/backend-ts/test-zantara-integration.ts
  apps/backend-ts/tsconfig.json
  apps/webapp/js/api-config.js
Due: typescript-check, pytest

fix(webapp): Updated login.js to use correct backend-ts endpoint (/api/auth/team/login) and pin parameter
  apps/webapp/js/login.js
Due: none

fix(cors): Moved CORS middleware to top of stack to resolve Preflight errors
  apps/backend-ts/src/server.ts
Due: typescript-check

fix(backend): Disabled broken ZantaraOrchestrator import to fix build/runtime crash
  apps/backend-ts/src/handlers/zantara/zantara-brilliant.ts
Due: typescript-check

fix(build): Remove broken src/agents folder in Dockerfile before build
  apps/backend-ts/Dockerfile
Due: none

chore(cleanup): Removed broken legacy agents and restored strict build process
  apps/backend-rag/backend/app/main_cloud.py
  apps/backend-ts/Dockerfile
  apps/backend-ts/package.json
  apps/backend-ts/src/agents/agent-orchestrator.ts
  apps/backend-ts/src/agents/bali-zero-services.ts
  apps/backend-ts/src/agents/cli.ts
  apps/backend-ts/src/agents/clients/deepseek.client.ts
  apps/backend-ts/src/agents/clients/openrouter.client.ts
  apps/backend-ts/src/agents/endpoint-generator.ts
  apps/backend-ts/src/agents/eye-kbli.ts
  apps/backend-ts/src/agents/legal-architect.ts
  apps/backend-ts/src/agents/memory-integrator.ts
  apps/backend-ts/src/agents/orchestrator.ts
  apps/backend-ts/src/agents/performance-optimizer.ts
  apps/backend-ts/src/agents/pr-agent.ts
  apps/backend-ts/src/agents/property-sage.ts
  apps/backend-ts/src/agents/refactoring-agent.ts
  apps/backend-ts/src/agents/self-healing.ts
  apps/backend-ts/src/agents/tax-genius.ts
  apps/backend-ts/src/agents/test-generator-agent.ts
  apps/backend-ts/src/agents/test-writer.ts
  apps/backend-ts/src/agents/types/agent.types.ts
  apps/backend-ts/src/core/zantara-orchestrator.ts
  apps/backend-ts/src/handlers/zantara/zantara-brilliant.ts
  apps/backend-ts/src/routes/ai-monitoring.ts
  apps/backend-ts/src/routing/router.ts
  apps/backend-ts/src/services/cron-scheduler.ts
Due: typescript-check, pytest

fix(server): Disabled OpenTelemetry to prevent startup crash
  apps/backend-ts/src/server.ts
Due: typescript-check
