Repository Balizero1987/nuzantara: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, pytest

typescript-check:
  name: TypeScript type checking
  entry: bash -c 'cd apps/backend-ts && npx tsc --noEmit'
  language: system
  pass_filenames: false

pytest:
  name: Pytest (Python tests)
  entry: bash -c 'cd apps/backend-rag && python -m pytest tests/ --cov=. --cov-fail-under=70'
  language: system
  pass_filenames: false
  stages:
  - push

fix(ci): resolve AI code quality validator path issues
  .ai-code-quality/ai-code-validator.ts
  .ai-code-quality/package-lock.json
Due: typescript-check

feat(ci): add automatic deployment workflow for backend RAG
  .github/workflows/deploy-backend-rag.yml
  DEPLOY_BACKEND_RAG_WORKFLOW.md
Due: none

feat(rag): complete ChromaDB to Qdrant migration
  apps/backend-rag/Dockerfile
  apps/backend-rag/backend/app/main_cloud.py
  apps/backend-rag/backend/app/routers/admin_oracle_populate.py
  apps/backend-rag/backend/app/routers/health.py
  apps/backend-rag/backend/app/routers/ingest.py
  apps/backend-rag/backend/app/routers/intel.py
  apps/backend-rag/backend/app/routers/memory_vector.py
  apps/backend-rag/backend/app/routers/oracle_ingest.py
  apps/backend-rag/backend/app/routers/oracle_migrate_endpoint.py
  apps/backend-rag/backend/app/routers/oracle_populate.py
  apps/backend-rag/backend/app/routers/oracle_universal.py
  apps/backend-rag/backend/core/qdrant_db.py
  apps/backend-rag/backend/core/vector_db.py
  apps/backend-rag/backend/services/chromadb_backup.py
  apps/backend-rag/backend/services/ingestion_service.py
  apps/backend-rag/backend/services/politics_ingestion.py
Due: pytest

fix(rag): guard autonomous_agents import to avoid startup crash on missing optional module; scale Fly VM to 4GB in fly.toml
  apps/backend-rag/backend/app/main_cloud.py
  fly.toml
Due: pytest

feat: Excellence Roadmap Implementation - 10/10
  apps/backend-ts/src/services/memory-analytics-client.ts
  apps/webapp/jest.setup.js
Due: typescript-check

fix: Critical production bugs - ES modules and CORS
  apps/backend-rag/backend/app/main_cloud.py
  apps/webapp/login-react.html
Due: pytest

fix: Add credentials include to login fetch for CORS
  apps/webapp/js/login.js
Due: none

fix: Backend /api/auth/demo accepts email format
  apps/backend-rag/backend/app/main_cloud.py
Due: pytest

fix(rag): remove all ChromaDB API calls causing startup crash
  CHROMADB_FIXES.md
  apps/backend-rag/backend/app/main_cloud.py
  apps/backend-rag/backend/app/routers/intel.py
  apps/backend-rag/backend/app/routers/oracle_ingest.py
  apps/backend-rag/backend/app/routers/oracle_property.py
  apps/backend-rag/backend/app/routers/oracle_tax.py
Due: pytest

🚀 FIX: Non-blocking health check + Enhanced logging (Gemini 3.0 solution)
  apps/backend-rag/backend/app/routers/health.py
  apps/backend-rag/backend/services/search_service.py
Due: pytest

🔥 HOTFIX: Remove undefined get_backup_service() call
  apps/backend-rag/backend/app/main_cloud.py
Due: pytest

Fix production crash: Singleton embeddings, non-blocking health check, fix NameError
  DEPLOY_STATUS_FINAL.md
  MONITORAGGIO_BACKEND.md
  PROD_FIXES_APPLIED.md
  STATO_FINALE.md
  apps/backend-rag/Dockerfile.fly
  apps/backend-rag/backend/app/config.py
  apps/backend-rag/backend/app/main_cloud.py
  apps/backend-rag/backend/app/routers/health.py
  apps/backend-rag/backend/core/embeddings.py
  apps/backend-rag/backend/verify_fix.py
  apps/backend-rag/backend/verify_singleton.py
  apps/backend-rag/requirements.txt
  fly.toml
Due: pytest

Fix Docker build context: Use root-relative paths in Dockerfile.fly
  apps/backend-rag/Dockerfile.fly
Due: none

Stabilize deployment: Fix health check redirects and disable broken imports
  apps/backend-rag/backend/app/main_cloud.py
  apps/backend-rag/backend/app/routers/health.py
Due: pytest

fix: Login redirect to /chat.html instead of /chat
  FIX_LOGIN_REDIRECT.md
  VERIFICA_FINALE_STABILIZZAZIONE.md
  apps/webapp/js/login.js
Due: none

Frontend integration: Add CRM/Agents clients, fix /api/query QdrantClient error
  apps/backend-rag/backend/services/search_service.py
  apps/webapp/js/agents-client.js
  apps/webapp/js/api-config.js
  apps/webapp/js/crm-client.js
  apps/webapp/js/zantara-client.js
Due: pytest

fix: Auth guard usa localStorage invece di endpoint /api/auth/check
  apps/webapp/js/auth-guard.js
Due: none

feat: Login component auto-popola da parametri URL
  TEST_LOGIN_FLOW_FINAL.md
  apps/webapp/src/components/Login.tsx
Due: none

UI enhancements: Add RAG sources, metadata visualization, and CRM auto-save
  apps/webapp/chat.html
  apps/webapp/css/chat-enhancements.css
  apps/webapp/js/app.js
Due: none

Add CRM and Agents client script tags
  apps/webapp/chat.html
Due: none

Path conditions:
  typescript-check: any of: \.ts$
  pytest: any of: \.py$
