Repository Balizero1987/nuzantara: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, pytest

Path conditions:
  typescript-check: any of: \.ts$
  pytest: any of: \.py$

fix(webapp): convert error messages from Italian to English
  apps/webapp/js/auth/unified-auth.js
  apps/webapp/js/login.js
Due: none

chore: reset workflow files to origin/main (OAuth permission fix)
  .github/workflows/deploy-backend-rag.yml
  .github/workflows/deploy-staging.yml
Due: none

fix: add Dockerfile and update next.config for standalone build
  apps/webapp-next/Dockerfile
  apps/webapp-next/next.config.ts
Due: typescript-check

fix: optimize Docker build size - add .dockerignore and selective COPY
  apps/webapp-next/.dockerignore
  apps/webapp-next/Dockerfile
  apps/webapp-next/app/api/chat/route.ts
  apps/webapp-next/app/chat/page.tsx
  apps/webapp-next/package-lock.json
  apps/webapp-next/package.json
  apps/webapp-next/tailwind.config.ts
Due: typescript-check

chore: purge legacy node backend, webapp vanilla, and docs
  apps/backend-rag/backend/app/core/config.py
  apps/backend-rag/backend/app/routers/oracle_universal.py
  apps/backend-rag/backend/core/cache.py
  apps/backend-rag/backend/middleware/rate_limiter.py
  apps/backend-rag/backend/migrations/001_fix_missing_tables.py
  apps/backend-rag/backend/migrations/README_migrations.py
  apps/backend-rag/backend/migrations/apply_migration_007.py
  apps/backend-rag/backend/self_healing/backend_agent.py
  apps/backend-rag/backend/services/alert_service.py
  apps/backend-rag/backend/services/auto_crm_service.py
  apps/backend-rag/backend/services/image_generation_service.py
  apps/backend-rag/backend/services/memory_service_postgres.py
  apps/backend-rag/backend/services/notification_hub.py
  apps/backend-rag/backend/services/smart_oracle.py
  apps/webapp-next/Dockerfile
  package-lock.json
Due: pytest

fix: eliminate all os.getenv() violations - replace with settings
  apps/backend-rag/backend/core/cache.py
  apps/backend-rag/backend/middleware/rate_limiter.py
  apps/backend-rag/backend/self_healing/backend_agent.py
  apps/backend-rag/backend/services/alert_service.py
  apps/backend-rag/backend/services/auto_crm_service.py
  apps/backend-rag/backend/services/image_generation_service.py
  apps/backend-rag/backend/services/memory_service_postgres.py
  apps/backend-rag/backend/services/notification_hub.py
Due: pytest

fix: eliminate remaining os.getenv() in agents and migrations
  apps/backend-rag/backend/migrations/migrate_crm_schema.py
Due: pytest

feat: add hero story for Zero - Il Cercatore di Orizzonti
  apps/backend-rag/backend/app/main_cloud.py
  apps/backend-rag/backend/app/routers/hero_stories.py
  apps/backend-rag/backend/data/hero_stories.py
  apps/webapp-next/app/heroes/page.tsx
  apps/webapp-next/app/heroes/zero/page.tsx
Due: pytest

fix: eliminate last os.getenv() - add GITHUB_TOKEN to settings
  apps/backend-rag/backend/app/core/config.py
  apps/webapp-next/app/api/auth/login/route.ts
Due: typescript-check, pytest

fix: remove unused os imports
  apps/backend-rag/backend/services/personality_service.py
  apps/backend-rag/backend/services/work_session_service.py
  apps/webapp-next/app/globals.css
  apps/webapp-next/app/page.tsx
Due: pytest

fix: remove unused os imports from migrations
  apps/backend-rag/backend/migrations/001_fix_missing_tables.py
  apps/backend-rag/backend/migrations/README_migrations.py
  apps/backend-rag/backend/migrations/migrate_crm_schema.py
Due: pytest

fix: correct critical errors found in codebase
  apps/backend-rag/backend/api/plugins.py
  apps/backend-rag/backend/app/feature_flags.py
  apps/backend-rag/backend/app/main_cloud.py
  apps/backend-rag/backend/app/metrics.py
Due: pytest

fix: clean up all linting errors
  apps/backend-rag/backend/app/modules/knowledge/router.py
  apps/backend-rag/backend/app/routers/auth.py
  apps/backend-rag/backend/app/routers/intel.py
  apps/backend-rag/backend/app/routers/media.py
  apps/backend-rag/backend/app/routers/search.py
  apps/backend-rag/backend/services/calendar_service.py
  apps/backend-rag/backend/services/citation_service.py
  apps/backend-rag/backend/services/gmail_service.py
  apps/backend-rag/backend/services/intelligent_router.py
  generate_codebase_md.py
  nuzantara_codebase.md
  nuzantara_codebase.zip
Due: pytest

fix: clean up all linting errors
  apps/backend-rag/backend/app/modules/knowledge/router.py
  apps/backend-rag/backend/app/routers/auth.py
  apps/backend-rag/backend/app/routers/intel.py
  apps/backend-rag/backend/app/routers/media.py
  apps/backend-rag/backend/app/routers/search.py
  apps/backend-rag/backend/services/calendar_service.py
  apps/backend-rag/backend/services/citation_service.py
  apps/backend-rag/backend/services/gmail_service.py
  apps/backend-rag/backend/services/intelligent_router.py
  generate_codebase_md.py
  nuzantara_codebase.md
Due: pytest

fix: remove duplicate code in plugins.py and fix metadata variable
  apps/backend-rag/backend/api/plugins.py
  apps/backend-rag/backend/services/auto_ingestion_orchestrator.py
Due: pytest

fix: Risolte discrepanze database-modello User
  apps/backend-rag/backend/app/modules/identity/models.py
  apps/backend-rag/backend/app/modules/identity/router.py
  apps/backend-rag/backend/app/modules/identity/service.py
  apps/backend-rag/backend/db/migrations/009_real_authentication_system.sql
  apps/backend-rag/backend/db/migrations/010_fix_team_members_schema.sql
Due: pytest

feat: Add temporary endpoint to run migration 010
  apps/backend-rag/backend/app/modules/identity/router.py
Due: pytest

fix: Improve migration 010 endpoint error handling
  apps/backend-rag/backend/app/modules/identity/router.py
Due: pytest

fix: Simplify migration 010 endpoint - execute SQL directly
  apps/backend-rag/backend/app/modules/identity/router.py
Due: pytest
